<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>이웃 책장 : 종이책 공유 플랫폼</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link th:href="@{/css/main.css}" rel="stylesheet" />
<link th:href="@{/css/bookList.css}" rel="stylesheet" />
</head>
<body>
	<div th:replace="thymeleaf/fragments/header.html :: header"></div>
	<div id="result-book">
		<form id="result-sort-form" method="POST" action="/book/search.do">
			<select id="result-sort-select" name="sortType" onchange="this.form.submit()">
				<option disabled selected>정렬 기준</option>
				<option value="1">가나다순</option>
				<option value="2">조회순</option>
			</select>
			<input type="hidden" id="sortingType" value="${sortingType}" />
			<input type="hidden" id="keyword" value="${keyword}" />
		</form>
		<ul class="result-list">
			<li class="result-list-content"
				th:each="book, bookStat : ${bookList}"
				th:onclick="|location.href='@{/book/view/{bookId}.do(bookId=${book.book_id})}'|"><img
				th:src="@{{localDir}/{imageAddress}(localDir=${uploadDirLocal}, imageAddress=${book.image})}"
				class="result-list-img">
				<h6 class="item-list-img-title">
					<b th:text="${book.title}"></b>
				</h6>
				<p class="result-list-img-writer" th:text="${book.author}"></p>
				<p class="result-list-img-desc" th:text="${book.member.nickname}"></p>
				<p class="result-list-img-desc" th:text="${book.member.address1}"></p>
			</li>
		</ul>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script>
		let sortingType = document.getElementById('sortingType').value;
		let select = document.getElementById('result-sort-select');
		let len = select.options.length;
		for (let i = 0; i < len; i++) {
			if (select.options[i].value == sortingType) {
				select.options[i].selected = true;
			}
		}
	</script>
</body>
</html>