<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/searchPartial.css}" rel="stylesheet" />
</head>
<body>
	<div id="book-list-result" class="mt-3">
		<ul class="book-list mt-1 mb-5" th:each="books : ${bookList}">
			<li class="book-list-content" th:each="book : ${books}"><div
					class="book-list-img-wrap"
					th:onclick="|location.href='@{/book/view/{bookId}.do(bookId=${book.bookId})}'|">
					<img class="book-list-img"
						th:if="${#strings.startsWith(book.image,'https')}"
						th:src="${book.image}" /> <img class="book-list-img"
						th:unless="${#strings.startsWith(book.image,'https')}"
						th:src="'/book/images'+ ${book.image}" /> <input type="hidden"
						id="hidden-api-isbn" th:value="${book.isbn}">
				</div>
				<div class="book-list-text mt-3">
					<p class="book-list-main-text">
						<span class="book-list-title"><b>[[${book.title}]]</b></span> <span
							class="book-list-year">[[${book.publishYear}]]</span>
					</p>
					<p class="book-list-info mt-1">
						<span class="book-list-author">[[${book.author}]]</span> / <span
							class="book-list-publisher">[[${book.publisher}]]</span>
					</p>
				</div></li>
			<li class="list-empty" th:if="${#lists.size(books) % 5 ne 0}"
				th:each="empty : ${#numbers.sequence(1, 5 - (#lists.size(books) % 5))}"><div
					class="book-list-img-wrap">
					<img class="book-list-empty-img"
						th:src="@{/images/book/bookWhiteImage.png}" />
				</div></li>
		</ul>
	</div>
</body>
</html>