<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>이웃 책장 : 종이책 공유 플랫폼</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link th:href="@{/css/communityList.css}" rel="stylesheet" />
</head>
<body>
<div id="header"></div>
	<div class="container">
		<div class="row">
			<div class="col md-6">
				<h5 class='col md-6'>
					<b>우리동네 소식을 전해주세요!</b>
				</h5>
			</div>
			<div class="col md-6">
				<ul class="nav justify-content-end">
					<li class="nav-item"><a th:attr="class=${orderBy == 3}?'nav-link active':'nav-link'" th:href="@{/book/community/List.do?(page=0,searchText=${searchText},orderBy=3)}">인기순</a></li>
					<li class="nav-item"><span class="nav-link">|</span></li>
					<li class="nav-item"><a th:attr="class=${orderBy == 2}?'nav-link active':'nav-link'" th:href="@{/book/community/List.do?(page=0,searchText=${searchText},orderBy=2)}">등록순</a></li>
					<li class="nav-item"><span class="nav-link">|</span></li>
					<li class="nav-item"><a th:attr="class=${orderBy == 1}?'nav-link active':'nav-link'" th:href="@{/book/community/List.do?(page=0,searchText=${searchText},orderBy=1)}">최신순</a></li>
				</ul>
			</div>
		</div>
		<br />
		<table class="table table-hover mt-3">
			<thead>
				<tr>
					<th width="5%">번호</th>
					<th width="10%">분류</th>
					<th width="40%">제목</th>
					<th width="15%">작성자</th>
					<th width="10%">작성일</th>
					<th width="10%">조회</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="comm : ${communities}" th:onclick="|location.href='@{/book/community/detail.do?(commId=${comm.communityId})}'|" style="cursor:hand">
					<td><span th:text="${comm.communityId}">1</span></td>
					<td><span th:if="${comm.category == 1}">구해요</span> <span
						th:if="${comm.category == 2}">찾아요</span> <span
						th:if="${comm.category == 3}">이벤트</span> <span
						th:if="${comm.category == 4}">소개</span></td>
					<td><span class="title" th:text="${comm.title}">제목</span><span
						class="title" th:if="${#lists.size(comm.commentList)} > 0" th:text="' ('+${#lists.size(comm.commentList)}+')'"> (1)</span>
					</td>
					<td><span class="tb2" th:text="${comm.member.nickname}">닉네임</span></td>
					<td><span class="tb2"
						th:text="${#dates.format(comm.upload_date, 'yyyy.MM.dd')}">업로드일</span></td>
					<td><span class="tb2" th:text="${comm.views}">조회수</span></td>
				</tr>

				<!-- <tr>
					<th><span th:text="${comm.communityId}">커뮤니티 고유번호</span></th>
					<td><span th:if="${comm.category == '1'}">구해요</span>
						<span th:if="${comm.category == '2'}">찾아요</span>
						<span th:if="${comm.category == '3'}">이벤트</span>
						<span th:if="${comm.category == '4'}">소개</span>
					</td>
					<td><a th:href="@{/book/community/detail.do?commId={cId}(cId=${comm.communityId})}">
						<span th:text="${comm.title}">제목</span>
						</a>
					</td>
					<td><span th:text="${comm.member.nickname}">닉네임</span></td>
					<td><span th:text="${comm.upload_date}">업로드일</span></td>
					<td><span th:text="${comm.views}">조회수</span></td>
				</tr> -->
			</tbody>
		</table>
		<div class="row row justify-content-between">
		<div class="col-sm-auto"><button type="button" class="btn btn-success btn-sm" onclick="location.href='/book/community/uploadCommunity.do'">&nbsp; 글쓰기 &nbsp;</button></div>
			<div class="col-sm-auto" id="searchbox">
				<div class="text-end">
					<form action='/book/community/List.do' method='GET'
						class='form-group justify-content-end'>
						<div class="row">
							<div class="col">
								<input type="text" name="searchText" id="searchText"
									class="form-control" placeholder="Search..." th:value="${searchText}"/>
							</div>
							<div class="col-sm-auto">
								<button type="submit" class="searchButton"></button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
		<div class="text-center">
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center" th:with="start=${(currentPage/5)* 5 + 1},
                  end=(${(totalPage == 0) ? 1 : (start + (5 - 1) < totalPage ? start + (5 - 1) : totalPage)})" >
					<li th:if="${currentPage > 0}" class="page-item"><a class="page-link" th:href="@{/book/community/List.do?(page=${currentPage - 1},searchText=${searchText},orderBy=${orderBy})}"
						aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
					</a></li>
					<li  th:each="page: ${#numbers.sequence(start, end)}" th:attr="class=${page == (currentPage + 1)} ? 'page-item active' : 'page-item'"><a class="page-link"th:href="@{/book/community/List.do?(page=${page-1},searchText=${searchText},orderBy=${orderBy})}" th:text="${page}"></a></li>
					<li class="page-item" th:if="${currentPage}!= ${totalPage - 1}"><a class="page-link" th:href="@{/book/community/List.do?(page=${currentPage + 1},searchText=${searchText},orderBy=${orderBy})}"
						aria-label="Next"> <span aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>
		</div>


	</div>
	<div id = "footer"></div>
	<!-- JS -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/js/loadAjax.js}" type="text/javascript"
		charset="UTF-8"></script>
	<script th:src="@{/js/loadHeaderAndFooter.js}" type="module" charset="UTF-8"></script>
</body>
</html>