<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>이웃 책장 : 종이책 공유 플랫폼</title>
<!-- CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
	rel="stylesheet">
<link th:href="@{/css/detailBook.css}" rel="stylesheet" />

<!-- JS -->
<script defer
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script defer
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script defer th:src="@{/js/loadAjax.js}" type="text/javascript"
	charset="UTF-8"></script>
<script defer th:src="@{/js/loadHeaderAndFooter.js}" type="module"
	charset="UTF-8"></script>
<script defer th:src="@{/js/detailBook.js}" type="module"
	charset="UTF-8"></script>
</head>
<body>
	<div id="header"></div>
	<div class="detail-book-body pt-3">
		<div id="book-info-box">
			<table id="book-info-table">
				<colgroup>
					<col style="width: 42%">
					<col style="width: 58%">
				</colgroup>
				<tr id="book-info-table-row">
					<td id="book-info-img-box"><div class="book-info-img-wrap">
							<div class="book-info-img">
								<img class="book-info-img"
									th:if="${#strings.startsWith(book.image,'https')}"
									th:src="${book.image}" /> <img class="book-info-img"
									th:unless="${#strings.startsWith(book.image,'https')}"
									th:src="'/book/images'+ ${book.image}" />
							</div>
						</div></td>
					<td id="book-info-text-box" class="ps-5">
						<div id="book-info-text-inner-box">
							<div id="book-info-main">
								<input id="hidden-book-id" type="hidden"
									th:value="${book.bookId}" /> <span id="book-info-title"
									class="pe-3">[[${book.title}]]</span><span
									id="book-info-count-box" class="ms-2"><span
									id="book-views-span" class="me-2"><img class="pb-1 pe-1"
										th:src="@{/images/icon/viewIcon.png}" alt="조회수" width="20" />
										[[${book.views}]]</span> <span id="book-likes-span"> <img
										class="pb-1 pe-1" th:src="@{/images/icon/likesIcon.png}"
										alt="좋아요" width="20" />[[${likesCount}]]
								</span></span>
							</div>
							<div id="book-info-sub" class="pt-2">
								<span id="book-info-author">[[${book.author}]]</span> 저 / <span
									id="book-info-publisher">[[${book.publisher}]]</span>
							</div>
							<div id="book-info-desc" class="pt-4 pb-4 mb-4">[[${book.description}]]</div>
							<div id="book-info-register">
								<input id="hidden-register-id" type="hidden"
									th:value="${book.member.member_id}" />
								[[${book.member.nickname}]]<span id="book-info-page"
									class="ms-2"><img class="pe-1"
									th:src="@{/images/icon/myPage.png}" alt="페이지수" width="25" /><span th:text="|${book.member.temperature} 페이지|"></span></span>
							</div>
							<div id="book-info-store" class="pt-1">[[${book.store.name}]]</div>
							<div id="book-info-introduce" class="py-4">[[${book.introduce}]]</div>
							<div id="book-info-button-box">
								<table id="book-info-button-table">
									<tr>
										<td id="book-likes-button"><img th:if="${isLike}"
											th:src="@{/images/icon/filledLikes.png}" width="50"
											th:onclick="|location.href='@{/book/unlike/{bookId}.do(bookId=${book.bookId})}'|"><img
											th:unless="${isLike}" th:src="@{/images/icon/lineLikes.png}"
											width="50"
											th:onclick="|location.href='@{/book/like/{bookId}.do(bookId=${book.bookId})}'|"></td>
										<td id="book-dm-button-box"><button id="book-dm-button"
												class="py-3">대여 문의하기</button></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td id="book-share-box" class="pt-2"><img class="me-1"
											th:src="@{/images/icon/shareKakao.png}" alt="카카오"
											id="kakaoIcon" onclick="js:shareKakao()" width="20"><img
											class="me-1" th:src="@{/images/icon/shareTwitter.png}"
											alt="트위터" id="twitterIcon" onclick="js:shareTwitter()"
											width="20"><img
											th:src="@{/images/icon/shareFacebook.png}" alt="페이스북"
											id="facebookIcon" onclick="js:shareFacebook()" width="20">
											<img class="me-1" th:src="@{/images/icon/shareLink.png}"
											alt="url" id="linkIcon" onclick="js:shareURL()" width="20"></td>
									</tr>
								</table>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div id="list-recommend-box" class="pt-5 mt-5">
			<h4 class="book-list-main-title">
				<b>선택하신 책과 유사한 책이에요.</b>
			</h4>
			<ul class="book-list mt-1 mb-1">
				<li class="book-list-content" th:each="book : ${similarBookList}"
					th:onclick="|location.href='@{/book/view/{bookId}.do(bookId=${book.bookId})}'|"><div
						class="book-list-img-wrap">
						<img class="book-list-img"
							th:if="${#strings.startsWith(book.image,'https')}"
							th:src="${book.image}" /> <img class="book-list-img"
							th:unless="${#strings.startsWith(book.image,'https')}"
							th:src="'/book/images'+ ${book.image}" />
					</div>
					<div class="book-list-text mt-3">
						<p class="book-list-main-text">
							<span class="book-list-title"><b>[[${book.title}]]</b></span> <span
								class="book-list-year">[[${book.publishYear}]]</span>
						</p>
						<p class="book-list-info mt-1">
							<span class="book-list-author">[[${book.author}]]</span> / <span
								class="book-list-publisher">[[${book.publisher}]]</span>
						</p>
					</div> <input type="hidden" id="hiddenBookInfo" th:value="${book}"></li>
				<li class="list-empty"
					th:if="${#lists.size(similarBookList) % 5 ne 0}"
					th:each="empty : ${#numbers.sequence(1, 5 - (#lists.size(similarBookList) % 5))}"><div
						class="book-list-img-wrap">
						<img class="book-list-empty-img"
							th:src="@{/images/book/bookWhiteImage.png}" />
					</div></li>
			</ul>
		</div>
		<div id="list-recommend-box" class="pt-5 pb-5">
			<h4 class="book-list-main-title">
				<b>같은 매장에 있는 책을 알려드려요.</b>
			</h4>
			<ul class="book-list mt-1 mb-1">
				<li class="book-list-content" th:each="book : ${regionBookList}"
					th:onclick="|location.href='@{/book/view/{bookId}.do(bookId=${book.bookId})}'|"><div
						class="book-list-img-wrap">
						<img class="book-list-img"
							th:if="${#strings.startsWith(book.image,'https')}"
							th:src="${book.image}" /> <img class="book-list-img"
							th:unless="${#strings.startsWith(book.image,'https')}"
							th:src="'/book/images'+ ${book.image}" />
					</div>
					<div class="book-list-text mt-3">
						<p class="book-list-main-text">
							<span class="book-list-title"><b>[[${book.title}]]</b></span> <span
								class="book-list-year">[[${book.publishYear}]]</span>
						</p>
						<p class="book-list-info mt-1">
							<span class="book-list-author">[[${book.author}]]</span> / <span
								class="book-list-publisher">[[${book.publisher}]]</span>
						</p>
					</div> <input type="hidden" id="hiddenBookInfo" th:value="${book}"></li>
				<li class="list-empty"
					th:if="${#lists.size(regionBookList) % 5 ne 0}"
					th:each="empty : ${#numbers.sequence(1, 5 - (#lists.size(regionBookList) % 5))}"><div
						class="book-list-img-wrap">
						<img class="book-list-empty-img"
							th:src="@{/images/book/bookWhiteImage.png}" />
					</div></li>
			</ul>
		</div>
	</div>
	<div id="footer"></div>
</body>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
  	 	/*<![CDATA[*/
	    const prefix = "http://localhost:8080/book/view/";
	    const book_Id = [[${book.bookId}]];
	    const suffix = ".do";
	    const shareUrl = prefix + book_Id + suffix;
	    const title = '[[${book.title}]]';
	    const description = '[[${book.description}]]';
	    /*]]>*/
	
	    function shareKakao() {
	      var shareImage = 'https://ifh.cc/g/ysmnbB.png';
	      const shareTitle = title;
	      const shareDes = description;
	
	      Kakao.Link.sendDefault({
	        objectType: 'feed',
	        content: {
	          title: shareTitle,
	          description: shareDes,
	          imageUrl: shareImage,
	          link: {
	            mobileWebUrl: shareUrl,
	            webUrl: shareUrl
	          },
	        },
	        buttons: [
	          {
	            title: '책 확인하기',
	            link: {
	              mobileWebUrl: shareUrl,
	              webUrl: shareUrl
	            },
	          }
	        ]
	      });
	    }
	
		    
	    function shareTwitter() {
	        var sendText = "이웃책장과 함께해요! ";
	        window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + shareUrl);
	    }
	    
	    function shareFacebook() {
	    	var sendUrl = shareUrl; // 전달할 URL
	        window.open("http://www.facebook.com/sharer/sharer.php?u=" + sendUrl);
	    }

	    function shareURL() {
	      var url = shareUrl;
	      var textarea = document.createElement("textarea");
	      document.body.appendChild(textarea);
	      textarea.value = url;
	      textarea.select();
	      document.execCommand("copy");
	      document.body.removeChild(textarea);
	      alert("URL이 복사되었습니다.");
	    }
    </script>
</html>