<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<title>책 상세</title>
<!-- CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
	rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet" />

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link th:href="@{/css/detailBook.css}" rel="stylesheet" />
</head>
<body>
	<div th:replace="thymeleaf/fragments/header.html :: header"></div>
	<div class="book-container">
		<div class="row">
			<!-- 책 이미지 -->
			<div class="col-5">
				<div id=bookImage>
					<img th:src="@{{localDir}/{imageAddress}(localDir=${uploadDirLocal}, imageAddress=${book.image})}" alt="책 이미지" id=bookimg>
				</div>
			</div>
			<!-- 책정보 -->
			<div class="col-6" id="book-info-container">
				<div class="row d-flex align-items-end">
					<div class="col-8">
						<span id="title" th:text="${book.title}"></span>
					</div>
					<div class="col">
						<img src="/images/조회수.png" alt="조회수" id=icons> <span
							id=content th:text="${book.views}"></span> <span id="likes-span">
							<img src="/images/좋아요 수.png" alt="좋아요" id=icons
							th:unless="${isLike}"
							th:onclick="|location.href='@{/book/like/{bookId}.do(bookId=${book.book_id})}'|">
							<img src="/images/좋아요 수.png" alt="좋아요" id=icons
							th:if="${isLike}"> <span id=content th:text="${likesCount}"></span>
						</span>
					</div>
				</div>
				
				<span id=title2 th:text="${book.author}"></span>
				<span> / 출판사 명</span><br><br>
				
				<div>
					책 설명 책 설명~~~
				</div>
				<hr><br>
				
				<div class="col">
					<b><span id=title2 th:text="${book.member.nickname}"></span></b>
					<b><span style="color:black; font-size:15px; vertical-align:top;" th:text="${book.member.temperature}"></span></b>
				</div>
				
				<div>
					어쩌구아파트점 · 저쩌구역점 · 냠냠우체국점
				</div><br>
				
				<div>
					책설명<br>
					책설명<br>
					책설명<br>
					책설명<br>
				</div><br>
					
					<div class="row">
						<div class="col-md-3" style="text-align : center;">
							<img src="/images/좋아요 라인.png" width="50%">
						</div>
						<div class="col-md-9">
							<form action="${checkMemberUrl}" method="post" class="d-block" name="loginForm">
									<input type="button" value="대여 문의하기" onClick="loginAction()" class="startBtn" style="width:420px;"> <br>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<div id="main-preference-book mt-2" class="book-list"
					th:if="${session.member}">
					<h4 class="book-list-main-title">
						<!-- SF 장르? 선호하는 장르에 대한 건 member_genre에서 랜덤으로 가져오면 되나?ㄹ -->
						<b th:text="|선택하신 책과 유사한 책이에요.|"></b>
					</h4>
					<ul class="book-list mt-1">
						<li class="book-list-content"
							th:each="book : ${#numbers.sequence(1, 5)}"><div
								class="book-list-img-wrap">
								<div class="book-list-img"></div>
							</div>
							<div class="book-list-text mt-3">
								<p class="book-list-main-text">
									<span class="book-list-title"><b>러브 레플리카</b></span> <span
										class="book-list-year">2016</span>
								</p>
								<p class="book-list-writer mt-1">윤이형 저 / 문학동네</p>
							</div></li>
					</ul>
					<div class="book-list-more mb-4">
						<a>더보기</a>
					</div>
				</div>
				
				<div id="main-preference-book mt-2" class="book-list"
					th:if="${session.member}">
					<h4 class="book-list-main-title">
						<!-- SF 장르? 선호하는 장르에 대한 건 member_genre에서 랜덤으로 가져오면 되나?ㄹ -->
						<b th:text="|같은 매장에 있는 책을 알려드려요.|"></b>
					</h4>
					<ul class="book-list mt-1">
						<li class="book-list-content"
							th:each="book : ${#numbers.sequence(1, 5)}"><div
								class="book-list-img-wrap">
								<div class="book-list-img"></div>
							</div>
							<div class="book-list-text mt-3">
								<p class="book-list-main-text">
									<span class="book-list-title"><b>러브 레플리카</b></span> <span
										class="book-list-year">2016</span>
								</p>
								<p class="book-list-writer mt-1">윤이형 저 / 문학동네</p>
							</div></li>
					</ul>
					<div class="book-list-more mb-4">
						<a>더보기</a>
					</div>
				</div>
				
				<div id=title2 class="col" th:text="${book.description}"></div>
				
				<div class="row">
					<br />
				</div>
				<div class="row d-flex align-items-end">
					<div class="col-3">
						<span id=content>저자</span>
					</div>
					<div class="col">
						<span id=title2 th:text="${book.author}"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<span id=content>설명</span>
					</div>
					<div id=title2 class="col" th:text="${book.description}"></div>
				</div>
				<div class="row d-flex align-items-end">
					<div class="col-3">
						<span id=content>올린 사람</span>
					</div>
					<div class="col">
						<span id=title2 th:text="${book.member.nickname}"></span>
					</div>
				</div>
				<div class="row d-flex align-items-end">
					<div class="col-3">
						<span id=content>지역</span>
					</div>
					<div class="col">
						<span id=title2 th:text="${book.member.address1}"></span> <span
							id=title2 th:text="${book.member.address2}"></span>
					</div>
				</div>
				<div id="row">
					<br />
					<div class="d-grid gap-2 col-8">
						<button id="rent-button" class="btn btn-success btn-lg" type="button"
							th:onclick="|location.href='@{/book/dm/start/{otherMemberId}/{bookId}.do(otherMemberId=${book.member.member_id}, bookId=${book.book_id})}'|">대여하기(DM)</button>
					</div>
					<br />
				</div>
				<div id="row">
					<div class="col" align="center">
						<img src="/images/facebook.jpg" alt="페이스북" id=shareicons style="margin-left: 0px;" onclick="js:shareFacebook()"> 
						<img src="/images/kakao.png" alt="카카오" id=shareicons onclick="js:shareKakao()"> 
							<img src="/images/twitter.png" alt="트위터" id=shareicons onclick="js:shareTwitter()"> 
							<img src="/images/url.png" alt="url" id=shareicons onclick="js:shareURL()">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        Kakao.init('476a4c18380b56b521177a94457bb719');
        Kakao.isInitialized();
    </script>
    
    <script>
  	 	/*<![CDATA[*/
	    const prefix = "http://localhost:8080/book/view/";
	    const book_Id = [[${book.book_id}]];
	    const suffix = ".do";
	    const shareUrl = prefix + book_Id + suffix;
	    const title = '[[${book.title}]]';
	    const description = '[[${book.description}]]';
	    /*]]>*/
	
	    function shareKakao() {
	      var shareImage = 'https://ifh.cc/g/ysmnbB.png';
	      const shareTitle = title;
	      const shareDes = description;
	
	      Kakao.Link.sendDefault({
	        objectType: 'feed',
	        content: {
	          title: shareTitle,
	          description: shareDes,
	          imageUrl: shareImage,
	          link: {
	            mobileWebUrl: shareUrl,
	            webUrl: shareUrl
	          },
	        },
	        buttons: [
	          {
	            title: '책 확인하기',
	            link: {
	              mobileWebUrl: shareUrl,
	              webUrl: shareUrl
	            },
	          }
	        ]
	      });
	    }
	
		    
	    function shareTwitter() {
	        var sendText = "이웃책장";
	        window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + shareUrl);
	    }
	    
	    function shareFacebook() {
	    	var sendUrl = shareUrl; // 전달할 URL
	        window.open("http://www.facebook.com/sharer/sharer.php?u=" + sendUrl);
	    }

	    function shareURL() {
	      var url = shareUrl;
	      var textarea = document.createElement("textarea");
	      document.body.appendChild(textarea);
	      textarea.value = url;
	      textarea.select();
	      document.execCommand("copy");
	      document.body.removeChild(textarea);
	      alert("URL이 복사되었습니다.");
	    }
    </script>
</html>