<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/DMRoomList.css}" rel="stylesheet" />
</head>
<body>
	<div id="dm-tooltip-content" class="tooltip-content">
		<div id="room-list-header" class="pt-4 pb-3 px-3">쪽지 나누기</div>
		<div id="room-list-box">
			<table class="room-list-table">
				<tr th:each="membership : ${membershipList}"
					class="room-list-content">
					<td class="room-list-image-wrap p-3"><img
						th:src="@{/images/icon/tempIcon.png}" class="list-content-img" /></td>
					<td class="room-list-link-wrap py-3 pe-3"><a
						class="list-content-link"><span class="list-content-name pb-1">[[${membership.member.nickname}]]</span>
							<span class="list-content-message pt-1"><br>최근 메시지</span> <input
							type="hidden" id="hiddenRoomId"
							th:value="${membership.chatRoom.chat_room_id}"></a></td>
				</tr>
			</table>
		</div>
		<script defer th:src="@{/js/DMRoomList.js}" type="text/javascript"
			charset="UTF-8"></script>
	</div>
</body>
</html>