<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>이웃 책장 : 종이책 공유 플랫폼</title>
<!-- CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
	rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet" />

<!-- JS -->
<script defer
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script defer
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script defer th:src="@{/js/loadAjax.js}" type="text/javascript"
	charset="UTF-8"></script>
<script defer th:src="@{/js/loadHeaderAndFooter.js}" type="module"
	charset="UTF-8"></script>
</head>
<body>
	<div id="header"></div>
	<div class="main-body">
		<div id="main-banner" class="mb-5">
			<div id="event-carousel" class="carousel slide"
				data-bs-ride="carousel">
				<div class="carousel-inner">
					<!-- 나중에 notice의 이미지 링크로 교체 -->
					<div class="carousel-item active">
						<img class="carousel-event-image"
							th:src="@{/images/event/event1.png}" />
					</div>
					<div class="carousel-item">
						<img class="carousel-event-image"
							th:src="@{/images/event/event2.png}" />
					</div>
					<div class="carousel-item">
						<img class="carousel-event-image"
							th:src="@{/images/event/event3.png}" />
					</div>
					<button class="carousel-button carousel-control-prev" type="button"
						data-bs-target="#event-carousel" data-bs-slide="prev">
						<img id="carousel-prev"
							th:src="@{/images/icon/carouselButton.png}" /> <span
							class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-button carousel-control-next" type="button"
						data-bs-target="#event-carousel" data-bs-slide="next">
						<img id="carousel-next"
							th:src="@{/images/icon/carouselButton.png}" /> <span
							class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
		<div id="main-popular-book" class="book-list">
			<h4 class="book-list-main-title">
				<b>지금 가장 인기 있는 책들이에요.</b>
			</h4>
			<!-- 
				<img
					th:src="@{{localDir}/{imageAddress}(localDir=${uploadDirLocal}, imageAddress=${book.image})}"
					class="book-list-img"
					th:onclick="|location.href='@{/book/view/{bookId}.do(bookId=${book.book_id})}'|">
			 -->
			<ul class="book-list mt-1">
				<li class="book-list-content"
					th:each="book : ${#numbers.sequence(1, 5)}"><div
						class="book-list-img-wrap">
						<div class="book-list-img"></div>
					</div>
					<div class="book-list-text mt-3">
						<p class="book-list-main-text">
							<span class="book-list-title"><b>러브 레플리adfssdfsdfsfdfdfsff카</b></span> <span
								class="book-list-year">2016</span>
						</p>
						<p class="book-list-writer mt-1">윤이형 저 / 문학동sfsfsfsdfasdfsdfsfsdfs네</p>
					</div></li>
			</ul>
			<div class="book-list-more mb-4">
				<a>더보기</a>
			</div>
		</div>
		<div id="main-review-book" class="review-list">
			<h4 class="book-list-main-title">
				<b>금주의 독후감! 함께 읽어요.</b>
			</h4>
			<ul class="review-list mt-1">
				<li class="review-list-content"
					th:each="review : ${#numbers.sequence(1, 2)}"><div
						class="review-list-img-wrap">
						<div class="review-list-img">
							<img class="review-list-pick"
								th:src="@{/images/main/reviewPick.png}" />
						</div>
					</div>
					<div class="review-list-text mt-3">
						<span class="review-list-title"><b>멸망하는 세계에서 희망을 갖는다는 것</b></span>
						<span class="review-list-writer ms-2">By쏠쏠</span>
						<p class="review-list-desc mt-2">스노볼 드라이브의 제목의 의미에 관해 이야기해보자.
							스노볼은 우리가 일상에서도 자주 볼 수 있는 물건이다. 뒤집기만 하면 작은 세상에 눈이 내리는 예쁜 물건. 선물…</p>
					</div></li>
			</ul>
			<ul class="review-list">
				<li class="review-list-content"
					th:each="review : ${#numbers.sequence(1, 2)}"><div
						class="review-list-img-wrap">
						<div class="review-list-img">
							<img class="review-list-pick"
								th:src="@{/images/main/reviewPick.png}" />
						</div>
					</div>
					<div class="review-list-text mt-3">
						<span class="review-list-title"><b>멸망하는 세계에서 희망을 갖는다는 것</b></span>
						<span class="review-list-writer ms-2">By쏠쏠</span>
						<p class="review-list-desc mt-2">스노볼 드라이브의 제목의 의미에 관해 이야기해보자.
							스노볼은 우리가 일상에서도 자주 볼 수 있는 물건이다. 뒤집기만 하면 작은 세상에 눈이 내리는 예쁜 물건. 선물…</p>
					</div></li>
			</ul>
			<div class="book-list-more mb-4">
				<a>더보기</a>
			</div>
		</div>
		<div id="main-preference-book mt-2" class="book-list"
			th:if="${session.member}">
			<h4 class="book-list-main-title">
				<!-- SF 장르? 선호하는 장르에 대한 건 member_genre에서 랜덤으로 가져오면 되나?ㄹ -->
				<b th:text="|${session.member.nickname}님이 선호하시는 SF 장르의 책이에요.|"></b>
			</h4>
			<ul class="book-list mt-1">
				<li class="book-list-content"
					th:each="book : ${#numbers.sequence(1, 5)}"><div
						class="book-list-img-wrap">
						<div class="book-list-img"></div>
					</div>
					<div class="book-list-text mt-3">
						<p class="book-list-main-text">
							<span class="book-list-title"><b>러브 레플리카</b></span> <span
								class="book-list-year">2016</span>
						</p>
						<p class="book-list-writer mt-1">윤이형 저 / 문학동네</p>
					</div></li>
			</ul>
			<div class="book-list-more mb-4">
				<a>더보기</a>
			</div>
		</div>
		<div id="main-recent-book" class="book-list">
			<h4 class="book-list-main-title">
				<b>방금 올라온 따끈따끈한 책이에요.</b>
			</h4>
			<ul class="book-list mt-1">
				<li class="book-list-content"
					th:each="book : ${#numbers.sequence(1, 5)}"><div
						class="book-list-img-wrap">
						<div class="book-list-img"></div>
					</div>
					<div class="book-list-text mt-3">
						<p class="book-list-main-text">
							<span class="book-list-title"><b>러브 레플리카</b></span> <span
								class="book-list-year">2016</span>
						</p>
						<p class="book-list-writer mt-1">윤이형 저 / 문학동네</p>
					</div></li>
			</ul>
			<div class="book-list-more mb-5">
				<a>더보기</a>
			</div>
		</div>
	</div>
	<img id="main-manual-bar" class="mt-5"
		th:src="@{/images/main/manualBar.png}" />
	<div id="footer"></div>

	<!-- 문학관
	<div id="main-library-list" class="mb-5">
		<div id="library-list-background-wrap">
			<div id="library-list-background">
				<table id="library-table">
					<tr>
						<td id="library-list-title">
							<p class="library-list-sub-title">이웃책장 특별관!</p>
							<div class="library-list-main-title">
								<b>오손도손<br>문학관
								</b>
							</div>
							<div class="library-list-desc">
								<p>
									스스로 만든<br>특별한 문학관을<br>함께 공유해요!
								</p>
							</div>
						</td>
						<td><ul class="library-list">
								<li class="library-list-content ps-5"
									th:each="library : ${#numbers.sequence(1, 4)}"><div
										class="library-list-box-wrap">
										<div class="library-list-box">
											<span class="library-list-img"></span> <span
												class="library-list-text"></span>
										</div>
									</div></li>
							</ul></td>
					</tr>
				</table>
				<span class="next">&rang;</span>
			</div>
		</div>
	</div>
	-->
</body>
</html>