<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>이웃 책장 : 종이책 공유 플랫폼</title>
<!-- CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
	rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet" />

<!-- JS -->
<script defer
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script defer
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script defer th:src="@{/js/loadAjax.js}" type="text/javascript"
	charset="UTF-8"></script>
<script defer th:src="@{/js/loadHeaderAndFooter.js}" type="module"
	charset="UTF-8"></script>
</head>
<body>
	<div id="header"></div>
	<div class="main-body">
		<div id="main-banner" class="mb-5">
			<div id="event-carousel" class="carousel slide"
				data-bs-ride="carousel">
				<div class="carousel-inner">
					<!-- 나중에 notice의 이미지 링크로 교체 -->
					<div class="carousel-item active" th:each="notice : ${noticeList}"
						th:onclick="|location.href='@{/book/Notice/detail.do?(noticeId=${notice.noticeId})}'|">
						<img class="carousel-event-image" th:src="${notice.image}" />
					</div>
					<button class="carousel-button carousel-control-prev" type="button"
						data-bs-target="#event-carousel" data-bs-slide="prev">
						<img id="carousel-prev"
							th:src="@{/images/icon/carouselButton.png}" /> <span
							class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-button carousel-control-next" type="button"
						data-bs-target="#event-carousel" data-bs-slide="next">
						<img id="carousel-next"
							th:src="@{/images/icon/carouselButton.png}" /> <span
							class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
		<div id="main-popular-book" class="book-list">
			<h4 class="book-list-main-title">
				<b>지금 가장 인기 있는 책들이에요.</b>
			</h4>
			<ul class="book-list mt-1 mb-1">
				<li class="book-list-content" th:each="book : ${popularBookList}"
					th:onclick="|location.href='@{/book/view/{bookId}.do(bookId=${book.bookId})}'|"><div
						class="book-list-img-wrap">
						<img class="book-list-img"
							th:if="${#strings.startsWith(book.image,'https')}"
							th:src="${book.image}" /> <img class="book-list-img"
							th:unless="${#strings.startsWith(book.image,'https')}"
							th:src="'/book/images'+ ${book.image}" />
					</div>
					<div class="book-list-text mt-3">
						<p class="book-list-main-text">
							<span class="book-list-title"><b>[[${book.title}]]</b></span> <span
								class="book-list-year">[[${book.publishYear}]]</span>
						</p>
						<p class="book-list-info mt-1">
							<span class="book-list-author">[[${book.author}]]</span> / <span
								class="book-list-publisher">[[${book.publisher}]]</span>
						</p>
					</div> <input type="hidden" id="hiddenBookInfo" th:value="${book}"></li>
				<li class="list-empty"
					th:if="${#lists.size(popularBookList) % 5 ne 0}"
					th:each="empty : ${#numbers.sequence(1, 5 - (#lists.size(popularBookList) % 5))}"><div
						class="book-list-img-wrap">
						<img class="book-list-empty-img"
							th:src="@{/images/book/bookWhiteImage.png}" />
					</div></li>
			</ul>
			<div class="book-list-more mb-4">
				<a class="book-list-link" th:href="@{/book/list.do}">더보기</a>
			</div>
		</div>
		<div id="main-review-book" class="review-list">
			<h4 class="book-list-main-title">
				<b>금주의 독후감! 함께 읽어요.</b>
			</h4>
			<ul class="review-list mt-1">
				<li class="review-list-content" th:each="review : ${reviewList1}"
					th:onclick="|location.href='@{/book/Review/detail.do?(reviewId=${review.reviewId})}'|">
					<div class="review-list-img-wrap">
						<img class="review-list-pick"
							th:src="@{/images/main/reviewPick.png}" /> <img
							class="review-list-img" th:src="${review.image}" />
					</div>
					<div class="review-list-text mt-3">
						<span class="review-list-title"><b>[[${review.title}]]</b></span>
						<span class="review-list-writer ms-2"
							th:text="|By ${review.member.nickname}|"></span>
						<p class="review-list-desc mt-2">[[${review.content}]]</p>
					</div>
				</li>
			</ul>
			<ul class="review-list">
				<li class="review-list-content" th:each="review : ${reviewList2}"
					th:onclick="|location.href='@{/book/Review/detail.do?(reviewId=${review.reviewId})}'|"><div
						class="review-list-img-wrap">

						<img class="review-list-pick"
							th:src="@{/images/main/reviewPick.png}" /> <img
							class="review-list-img" th:src="${review.image}" />
					</div>
					<div class="review-list-text mt-3">
						<span class="review-list-title"><b>[[${review.title}]]</b></span>
						<span class="review-list-writer ms-2"
							th:text="|By ${review.member.nickname}|"></span>
						<p class="review-list-desc mt-2">[[${review.content}]]</p>
					</div></li>
			</ul>
			<div class="book-list-more mb-4">
				<a class="book-list-link" th:href="@{/book/Review/List.do}">더보기</a>
			</div>
		</div>
		<div id="main-preference-book mt-2" class="book-list"
			th:if="${session.member}">
			<h4 class="book-list-main-title">
				<b
					th:text="|${session.member.nickname}님이 선호하시는 ${myGenre.name} 장르의 책이에요.|"></b>
			</h4>
			<ul class="book-list mt-1 mb-1">
				<li class="book-list-content" th:each="book : ${recommendBookList}"
					th:onclick="|location.href='@{/book/view/{bookId}.do(bookId=${book.bookId})}'|"><div
						class="book-list-img-wrap">
						<img class="book-list-img"
							th:if="${#strings.startsWith(book.image,'https')}"
							th:src="${book.image}" /> <img class="book-list-img"
							th:unless="${#strings.startsWith(book.image,'https')}"
							th:src="'/book/images'+ ${book.image}" />
					</div>
					<div class="book-list-text mt-3">
						<p class="book-list-main-text">
							<span class="book-list-title"><b>[[${book.title}]]</b></span> <span
								class="book-list-year">[[${book.publishYear}]]</span>
						</p>
						<p class="book-list-info mt-1">
							<span class="book-list-author">[[${book.author}]]</span> / <span
								class="book-list-publisher">[[${book.publisher}]]</span>
						</p>
					</div> <input type="hidden" id="hiddenBookInfo" th:value="${book}"></li>
				<li class="list-empty"
					th:if="${#lists.size(recommendBookList) % 5 ne 0}"
					th:each="empty : ${#numbers.sequence(1, 5 - (#lists.size(recommendBookList) % 5))}"><div
						class="book-list-img-wrap">
						<img class="book-list-empty-img"
							th:src="@{/images/book/bookWhiteImage.png}" />
					</div></li>
			</ul>
			<div class="book-list-more mb-4">
				<a class="book-list-link" th:href="@{/book/list.do}">더보기</a>
			</div>
		</div>
		<div id="main-recent-book" class="book-list">
			<h4 class="book-list-main-title">
				<b>방금 올라온 따끈따끈한 책이에요.</b>
			</h4>
			<ul class="book-list mt-1 mb-1">
				<li class="book-list-content" th:each="book : ${recentBookList}"
					th:onclick="|location.href='@{/book/view/{bookId}.do(bookId=${book.bookId})}'|"><div
						class="book-list-img-wrap">
						<img class="book-list-img"
							th:if="${#strings.startsWith(book.image,'https')}"
							th:src="${book.image}" /> <img class="book-list-img"
							th:unless="${#strings.startsWith(book.image,'https')}"
							th:src="'/book/images'+ ${book.image}" />
					</div>
					<div class="book-list-text mt-3">
						<p class="book-list-main-text">
							<span class="book-list-title"><b>[[${book.title}]]</b></span> <span
								class="book-list-year">[[${book.publishYear}]]</span>
						</p>
						<p class="book-list-info mt-1">
							<span class="book-list-author">[[${book.author}]]</span> / <span
								class="book-list-publisher">[[${book.publisher}]]</span>
						</p>
					</div> <input type="hidden" id="hiddenBookInfo" th:value="${book}"></li>
				<li class="list-empty"
					th:if="${#lists.size(recentBookList) % 5 ne 0}"
					th:each="empty : ${#numbers.sequence(1, 5 - (#lists.size(recentBookList) % 5))}"><div
						class="book-list-img-wrap">
						<img class="book-list-empty-img"
							th:src="@{/images/book/bookWhiteImage.png}" />
					</div></li>
			</ul>
			<div class="book-list-more mb-5">
				<a class="book-list-link" th:href="@{/book/list.do}">더보기</a>
			</div>
		</div>
	</div>
	<img id="main-manual-bar" class="mt-5"
		th:src="@{/images/main/manualBar.png}"
		th:onclick="|location.href='@{/book/manual.do}'|" />
	<div id="footer"></div>

	<!-- 문학관
	<div id="main-library-list" class="mb-5">
		<div id="library-list-background-wrap">
			<div id="library-list-background">
				<table id="library-table">
					<tr>
						<td id="library-list-title">
							<p class="library-list-sub-title">이웃책장 특별관!</p>
							<div class="library-list-main-title">
								<b>오손도손<br>문학관
								</b>
							</div>
							<div class="library-list-desc">
								<p>
									스스로 만든<br>특별한 문학관을<br>함께 공유해요!
								</p>
							</div>
						</td>
						<td><ul class="library-list">
								<li class="library-list-content ps-5"
									th:each="library : ${#numbers.sequence(1, 4)}"><div
										class="library-list-box-wrap">
										<div class="library-list-box">
											<span class="library-list-img"></span> <span
												class="library-list-text"></span>
										</div>
									</div></li>
							</ul></td>
					</tr>
				</table>
				<span class="next">&rang;</span>
			</div>
		</div>
	</div>
	-->
</body>
</html>