<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/mypage.css}" />
<script type="text/javascript" th:src="@{/js/mypage.js}"></script>
</head>
<body>

	<div class="main">

		<h4 style="margin-top: 50px;">마이페이지</h4>
		<div class="row">
			<div class="col-3">
				<div id=circle>
					<img src="/images/ex_image.png" alt="프로필 이미지" id=profile>
				</div>
			</div>
			<div class="col-8">
				<div class="row">
					</br> </br>
				</div>
				<div class="row">
					<div id=nick>
						<b th:text="${member.name}"></b> <span
							th:text="${member.temperature}"
							style="color: black; font-size: 15px; vertical-align: top;">몇페이지
							읽었는지 추가 요망</span>
					</div>
				</div>
			</div>
		</div>


		<!-- 여기에 추가해야 함 -->
		<!-- <div class="row">
			<nav id="navbar-example2" class="navbar">
				<ul class="nav justify-content-end">
					<li class="nav-item"><a class="nav-link active"
						href="#memberDiv">회원정보 수정</a></li>
					<li class="nav-item"><span class="nav-link">|</span></li>
					<li class="nav-item"><a class="nav-link" href="#rentDiv">대여목록</a></li>
					<li class="nav-item"><span class="nav-link">|</span></li>
					<li class="nav-item"><a class="nav-link" href="#likeDiv">찜목록</a></li>
					<li class="nav-item"><span class="nav-link">|</span></li>
					<li class="nav-item"><a class="nav-link" href="#ListPartial">나의
							활동</a></li>
					<li class="nav-item"><span class="nav-link">|</span></li>
					<li class="nav-item"><a class="nav-link"
						href="@{/book/locgout.do}">로그아웃</a></li>
				</ul>
			</nav></div>
			<div>
				<span>회원정보 수정</span><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span> <span>대여목록</span><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
				<span>찜목록</span><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span> <span>나의
					활동</span><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span> <span>알림</span><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
				<span>로그아웃</span>
			</div>
			<hr> -->
		<div>
			<div class="row">
				<nav id="navbar-example" class="navbar">

					<ul class="nav justify-content-end" role="tablist">

						<li class="nav-item"><a class="nav-link" href="#memberDiv">회원정보
								수정</a></li>
						<li class="nav-item"><span class="nav-link">|</span></li>
						<li class="nav-item"><a class="nav-link" href="#rentDiv">대여목록</a></li>
						<li class="nav-item"><span class="nav-link">|</span></li>
						<li class="nav-item"><a class="nav-link" href="#likesDiv">찜목록</a></li>
						<li class="nav-item"><span class="nav-link">|</span></li>
						<li class="nav-item"><a class="nav-link" href="#ListPartial">나의
								활동</a></li>
						<li class="nav-item"><span class="nav-link">|</span></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/book/logout.do}">로그아웃</a></li>
					</ul>
				</nav>
			</div>
			<hr />
			<div id="scrollspace" data-bs-spy="scroll"
				data-bs-target="#navbar-example" data-bs-offset="10"
				class="scrollspy-example" tabindex="1">
				<div id="memberDiv">
					<div>
						<span><h5>회원정보 수정</h5></span>
						<div class="container py-5 w-50">
							<main class="form-signin mx-auto">
								<form action="/book/mypage/member/check.do" method="post"
									class="d-block" name="loginForm">
									<div class="form-floating">
										<input type="password" class="form-control"
											id="floatingPassword" placeholder="Password" name="password">
										<label for="floatingPassword">비밀번호를 입력해주세요.</label><br> <input
											type="button" value="로그인" onClick="loginAction()"
											class="startBtn" style="width: 100%;"> <br>
									</div>
								</form>
							</main>
						</div>
					</div>

				</div>
				<br> <br>

				<div id="rentDiv">
					<span><h5>대여목록</h5></span> <br>
					<div>- 빌렸어요</div>
					<div>
						<ul class="list-group list-group-horizontal">
							<li th:if="${#lists.size(rentList) > 0}"
								th:each="rent:${rentList}" class="card"
								style="width: 300px; height: 150px; border: none;">
								<div class="row g-0">
									<div class="col-md-4">
										<img th:src="${rent.book.image}"
											class="img-fluid rounded-start" alt="...">
									</div>
									<div class="col-md-6">
										<div class="card-body">
											<h5 class="card-title" th:text="${rent.book.title}">Card
												title</h5>
											<p class="card-text" style="margin-top: -2px;">
												<small class="text-muted"
													th:text="${rent.book.author}+' / '+${rent.book.publisher}">This
													is a wider card with supporting</small>
											</p>
											<p class="card-text"
												style="margin-top: 10px; color: #80C40A;"
												th:text="${rent.book.store.name}">
											<p class="card-text"
												th:if="${#dates.createToday() <= rent.end_day}"
												style="color: #80C40A;"
												th:text="'반납기한 '+${#dates.format(rent.end_day, 'MM월 dd일')}">
											<p class="card-text"
												th:unless="${#dates.createToday() <= rent.end_day}"
												style="color: #FF0000;"
												th:text="'반납기한 '+${#dates.format(rent.end_day, 'MM월 dd일')}">
											</p>
										</div>
									</div>
								</div>
							</li>
							<li th:unless="${#lists.size(rentList)> 0}" class="card"
								style="width: 300px; height: 150px; border: none;"><br>
								<div class="row g-0">
									<p class="card-text" style="margin-top: -2px;">
										<span class="text-muted">&nbsp;&nbsp;&nbsp;현재 빌린 책이
											없어요. 이웃에게 책을 한번 빌려보세요!</span>
									</p>
								</div></li>
						</ul>
						<br>
						<div>- 빌려줬어요</div>
						<ul class="list-group list-group-horizontal">
							<li th:if="${#lists.size(myRentList) > 0}"
								th:each="rent:${myRentList}" class="card"
								style="width: 300px; height: 150px; border: none;">
								<div class="row g-0">
									<div class="col-md-4">
										<img th:src="${rent.book.image}"
											class="img-fluid rounded-start" alt="...">
									</div>
									<div class="col-md-6">
										<div class="card-body">
											<h5 class="card-title" th:text="${rent.book.title}">Card
												title</h5>
											<p class="card-text" style="margin-top: -2px;">
												<small class="text-muted"
													th:text="${rent.book.author}+' / '+${rent.book.publisher}">This
													is a wider card with supporting</small>
											</p>
											<p class="card-text"
												style="margin-top: 10px; color: #80C40A;"
												th:text="${rent.book.store.name}">
											<p class="card-text"
												th:if="${#dates.createToday() <= rent.end_day}"
												style="color: #80C40A;"
												th:text="'반납기한 '+${#dates.format(rent.end_day, 'MM월 dd일')}">
											<p class="card-text"
												th:unless="${#dates.createToday() <= rent.end_day}"
												style="color: #FF0000;"
												th:text="'반납기한 '+${#dates.format(rent.end_day, 'MM월 dd일')}">
											</p>
										</div>
									</div>
								</div>
							</li>
							<li th:unless="${#lists.size(myRentList)> 0}" class="card"
								style="width: 300px; height: 150px; border: none;"><br>
								<div class="row g-0">
									<p class="card-text" style="margin-top: -2px;">
										<span class="text-muted">&nbsp;&nbsp;&nbsp;아직 빌려준 책이
											없어요. 이웃과 책을 나눠보세요!</span>
									</p>
								</div></li>
						</ul>
					</div>
				</div>
				<div id="likesDiv">
					<span><h5>찜목록</h5></span>
					<div id="book-list-result">
						<ul class="book-list mb-5">
							<li class="book-list-content" th:each="like : ${likeList}"
								th:onclick="|location.href='@{/book/view/{bookId}.do(bookId=${like.book.bookId})}'|"><div
									class="book-list-img-wrap">
									<img class="book-list-img" th:src="${like.book.image}" />
								</div>
								<div class="book-list-text mt-3">
									<p class="book-list-main-text">
										<span class="book-list-title"><b>[[${like.book.title}]]</b></span>
										<span class="book-list-year">[[${like.book.publishYear}]]</span>
									</p>
									<p class="book-list-info mt-1">
										<span class="book-list-year">[[${like.book.author}]] /</span>
										<span class="book-list-year">[[${like.book.publisher}]]</span>
									</p>
								</div></li>
							<!-- 
								<li class="list-empty" th:if="${#lists.size(likeList) % 5 ne 0}"
									th:each="empty : ${#numbers.sequence(1, 5 - (#lists.size(likeList) % 5))}"><div
										class="book-list-img-wrap">
										<img class="book-list-empty-img"
											th:src="@{/images/book/bookWhiteImage.png}" />
									</div></li> -->
						</ul>
					</div>
				</div>
				<div id="ListPartial">
					<span><h5>나의 활동</h5></span>
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<button class="nav-link active" id="nav-home-tab"
								data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
								role="tab" aria-controls="nav-home" aria-selected="true">글</button>
							<button class="nav-link" id="nav-profile-tab"
								data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
								role="tab" aria-controls="nav-profile" aria-selected="false">독후감</button>
							<button class="nav-link" id="nav-contact-tab"
								data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
								role="tab" aria-controls="nav-contact" aria-selected="false">댓글</button>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home"
							role="tabpanel" aria-labelledby="nav-home-tab" style="height:300;">...</div>
						<div class="tab-pane fade" id="nav-profile" role="tabpanel"
							aria-labelledby="nav-profile-tab">...</div>
						<div class="tab-pane fade" id="nav-contact" role="tabpanel"
							aria-labelledby="nav-contact-tab">...</div>
					</div>
				</div>
			</div>
		</div>


		<br>

	</div>
	<div id="top">^top</div>
	<!-- JS -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/js/loadAjax.js}" type="text/javascript"
		charset="UTF-8"></script>
	<script th:src="@{/js/loadHeaderAndFooter.js}" type="module"
		charset="UTF-8"></script>
	<script type="text/javascript">
		$("#top").click(function() {
			$("html, #scrollspace").animate({
				scrollTop : 0
			});
			return false;
		});
		/* 
		 var scrollSpy = new bootstrap.ScrollSpy(document.body, {
		 target: '#navbar-example2'
		 }) */
		 $(document).ready( function() {
			    $("#nav-home").load("/book/myPage/listPartial.do"); 
			    $("#nav-contact").load("/book/myPage/listPartial.do?category=3");
			  });
	</script>
</body>
</html>