@charset "UTF-8";

body {
	width: 100%;
}

.list-body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 10px;
	background: #FFFFFF;
}

#list-title {
	width: 66%;
	margin: 0 auto;
	font-size: 1.4rem;
	font-weight: 700;
	color: #1C1B1F;
}

/* 검색창 */
#list-bar-box {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	opacity: 1;
	width: 66%;
	margin: 0 auto;
	height: 45px;
	border: 0.25px solid #E1E1E1;
	border-radius: 12px;
	font-size: 1.1rem;
	font-weight: 400;
	color: #1C1B1F
}

#list-bar {
	width: 100%;
	height: 100%;
	border: none;
	-webkit-appearance: none;
	text-align: left;
	overflow: auto;
	z-index: 2;
	border: none;
	border-radius: 12px;
}

#list-bar:focus {
	outline: none;
	text-align: left;
}

#list-icon-box {
	border-left: 1px solid #E1E1E1;
	cursor: pointer;
}

/* 검색조건 */
#list-condition-box {
	width: 66%;
	margin: 0 auto;
	vertical-align: -webkit-baseline-middle;
	border-bottom: 1px solid #E1E1E1;
}

.condition-box {
	width: 100%;
}

.condition-title {
	font-size: 0.9rem;
	font-weight: 400;
	color: #1C1B1F;
	width: 12%;
	vertical-align: top;
}

.condition-content {
	vertical-align: top;
}

.condition-label-region, .condition-label-genre, .condition-label-search
	{
	font-size: 0.9rem;
	font-weight: 400;
	color: #5C5C5C;
	cursor: pointer;
}

.condition-label-region-chekced {
	display: none;
	font-size: 0.9rem;
	font-weight: 400;
	color: #5C5C5C;
	cursor: pointer;
}

.condition-label-genre-checked {
	display: none;
	font-size: 0.9rem;
	font-weight: 400;
	color: #5C5C5C;
	cursor: pointer;
}

.condition-checkbox {
	display: none;
}

/* 검색결과 (API 결과) */
.book-list-main-title {
	font-size: 1.2rem;
}

#list-recommend-box, #book-list-result {
	width: 66%;
	margin: 0 auto;
}

ul.book-list {
	display: inline-table;
	table-layout: fixed;
	padding: 0px;
	width: 100%;
	height: 38vh;
	margin-bottom: 0px;
}

.book-list-content {
	position: relative;
	display: table-cell;
	border: 1vw solid white;
	width: 50%;
	cursor: pointer;
}

.book-list-img {
	width: 100%;
	height: 100%;
	background: #D9D9D9;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.book-list-img:hover {
	outline: 3px solid #80C40A;
}

.book-list-empty-img {
	width: 100%;
	height: 100%;
}

.list-empty {
	position: relative;
	display: table-cell;
	border: 1vw solid white;
	width: 50%;
}

}
.book-list-main-text {
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.book-list-title {
	font-size: 0.9rem;
	width: 82%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.book-list-year {
	font-size: 0.7rem;
	color: #9A9A9A;
	width: 17%;
	text-align: right;
	vertical-align: -webkit-baseline-middle;
}

.book-list-info {
	font-size: 0.7rem;
	color: #9A9A9A;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#sort-text {
	width: 66%;
	margin: 0 auto;
	font-size: 0.8rem;
	color: #9A9A9A;
}

#left-sort {
	float: left;
	overflow: hidden;
}

#right-sort {
	text-align: right;
	vertical-align: -webkit-baseline-middle;
}

.sort-condition {
	cursor: pointer;
}

#popular-sort {
	color: #1C1B1F;
}

#recent-sort {
	
}

#big-view {
	
}

#little-view {
	color: #1C1B1F;
}

.middle-bar {
	color: #E1E1E1;
}

.arrow-box {
	width: 33%;
	margin: 0 auto;
	text-align: center;
}

#go-up-arrow {
	width: 10%;
	cursor: pointer;
}

/* Pagint Number */
.page-link {
	border: none;
	color: silver;
}

.page-link:hover {
	background-color: #fff;
	color: black;
}

.page-item.active .page-link {
	z-index: 3;
	color: black;
	background-color: #fff;
	border: none;
}