@charset "UTF-8";
.sbmt{
	height:100%;
	width:100%;
	border: none;
}
.card{
	border-radius: 15px;
}

#commentWrite{
	height:150px;
	width:100%;
	margin:0%;
	padding:0%;
	border: none;
    resize: none;
}
#commentWrite:focus{
	outline: none;
}
#commentCard{
	height:200px;
}
.profile{
	height:50px;
	width:50px;
	border:1px solid silver;
	border-radius: 50%;
}
.commentProfile{
	height:25px;
	width:25px;
	border:1px solid silver;
	border-radius: 50%;
}
#nick{
	padding-left:0%;
}
#right{
	text-align: right;
}
.thumbnail{
	height:509px;
	width:1246px;
	margin: auto;
	border: 1px solid silver;
}
#sendDm{
	padding-top:1px;
	padding-bottom:1px;
	font-size:10px;
	border-radius: 30px;
}