@charset "UTF-8";

body {
	width: 100%;
}

.detail-book-body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 10px;
	background: #FFFFFF;
}

/* book info*/
#book-info-box {
	width: 66%;
	margin: 0 auto;
}

#book-info-table {
	width: 100%;
	border: 0;
	table-layout: fixed;
}

#book-info-img-box {
	position: relative;
	border: 1vw solid white;
}

#book-info-text-box {
	vertical-align: top;
}

.book-info-img {
	width: 100%;
	height: 100%;
	background: #D9D9D9;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

#book-info-text-inner-box {
	width: 100%;
	height: 100%;
}

#book-info-main {
	width: 100%;
}

#book-info-title {
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: -0.05em;
	color: #1C1B1F;
	float: left;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#book-info-count-box {
	width: 17%;
}

#book-likes-span, #book-views-span {
	font-weight: 400;
	font-size: 0.8rem;
	letter-spacing: -0.05em;
	color: #9A9A9A;
	text-align: right;
}

#book-info-sub {
	width: 100%;
	font-size: 1.1rem;
	color: #1C1B1F;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#book-info-desc {
	width: 100%;
	font-weight: 400;
	font-size: 0.9rem;
	text-align: justify;
	letter-spacing: -0.05em;
	color: #5C5C5C;
	border-bottom: 1px solid #E1E1E1;
	font-weight: 400;
}

#book-info-register {
	width: 100%;
	font-size: 1.1rem;
	font-weight: 700;
	color: #1C1B1F;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #1C1B1F;
}

#book-info-page {
	vertical-align: top;
	font-weight: 700;
	font-size: 0.7rem;
	letter-spacing: -0.05em;
	color: #80C40A;
}

#book-info-store {
	width: 100%;
	font-weight: 400;
	font-size: 0.8rem;
	letter-spacing: -0.05em;
	color: #1C1B1F;
}

#book-info-introduce {
	width: 100%;
	font-weight: 400;
	font-size: 0.9rem;
	text-align: justify;
	letter-spacing: -0.05em;
	color: #5C5C5C;
}

#book-info-button-box {
	width: 100%;
}

#book-info-button-table {
	width: 100%;
}

#book-likes-button {
	width: 25%;
	text-align: center;
}

#book-dm-button-box {
	width: 75%;
}

#book-dm-button {
	width: 100%;
	background-color: #80C40A;
	border: none; border-radius : 10px;
	color: white;
	border-radius: 10px; color : white;
	font-size: 1.5rem;
	font-weight: 600;
}

#book-share-box {
	width: 100%;
	text-align: center;
}

#linkIcon {
	transform: rotate(30deg);
}

/* book list*/
.book-list-main-title {
	font-size: 1.2rem;
}

#list-recommend-box {
	width: 66%;
	margin: 0 auto;
}

ul.book-list {
	display: inline-table;
	table-layout: fixed;
	padding: 0px;
	width: 100%;
	height: 38vh;
	margin-bottom: 0px;
}

.book-list-content {
	position: relative;
	display: table-cell;
	border: 1vw solid white;
	width: 50%;
	cursor: pointer;
}

.book-list-img {
	width: 100%;
	height: 100%;
	background: #D9D9D9;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.book-list-img:hover {
	outline: 3px solid #80C40A;
}

.book-list-empty-img {
	width: 100%;
	height: 100%;
}

.list-empty {
	position: relative;
	display: table-cell;
	border: 1vw solid white;
	width: 50%;
}

.book-list-main-text {
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.book-list-title {
	font-size: 0.9rem;
	width: 82%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.book-list-year {
	font-size: 0.7rem;
	color: #9A9A9A;
	width: 17%;
	text-align: right;
	vertical-align: -webkit-baseline-middle;
}

.book-list-info {
	font-size: 0.7rem;
	color: #9A9A9A;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}