@charset "UTF-8";

#room {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 10px;
	background: #FFFFFF;
	height: 100%;
}

#room-header {
	font-size: 0.9rem;
	font-weight: 600;
	color: #1C1B1F;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 12%;
}

#room-book-header {
	font-size: 0.7rem;
	font-weight: 600;
	color: #80C40A;
	border-bottom: 1px solid #E1E1E1;
	position: absolute;
	top: 12%;
	left: 0;
	right: 0;
	height: 6%;
}

/* 채팅 내용 */
#message-box {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80%;
}

#msgArea {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
}

.other-img-wrap, .my-img-wrap, .other-margin, .my-margin {
	width: 10%;
}

.other-img, .my-img {
	border-radius: 50%;
}

.other-message-content {
	font-size: 0.7rem;
	font-weight: 300;
	color: #1C1B1F;
	text-align: left;
	width: 90%;
}

.my-message-content {
	font-size: 0.7rem;
	font-weight: 300;
	color: #1C1B1F;
	text-align: right;
	width: 90%;
	color: #FFFFFF;
}

.other-message-text {
	background-color: #FFFFFF;
	border: 0.5px solid #D9D9D9;
	border-radius: 15px;
}

.my-message-text {
	background-color: #80C40A;
	border: 0.5px solid #80C40A;
	border-radius: 15px;
}

/* 메시지 입력창 (하단) */
.input-group {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
}

#msg {
	height: 100%;
	width: 80%;
	color: #9A9A9A;
	font-size: 0.7rem;
	border-radius: 0px;
}

#button-send {
	height: 100%;
	width: 20%;
	background-color: #80C40A;
	color: white;
	font-size: 0.7rem;
	border: 0.5px solid #80C40A;
}