@charset "UTF-8";

#room-list {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 10px;
	background: #FFFFFF; 
}

#room-list-header {
	font-size: 0.9rem;
	font-weight: 600;
	color: #1C1B1F;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
	height: 12%;
}

.room-list-table {
	width: 100%;
}

.room-list-content {
	border-bottom: 1px solid #E1E1E1;
}

.room-list-img-wrap {
	width: 10%;
}

.list-content-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.room-list-link-wrap {
	width: 90%;
}

.list-content-link {
	text-decoration: none;
	font-style: normal;
}

.list-content-name {
	font-size: 0.8rem;
	font-weight: 600;
	color: #1C1B1F;
	text-align: left;
}

.list-content-message {
	font-size: 0.7rem;
	font-weight: 500;
	color: #1C1B1F;
	text-align: left;
}