@charset "UTF-8";

* {
	box-sizing: border-box;
}

#main-footer {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 10px;
	width: 100vw;
	background: #FFFFFF;
	border-top: 1px solid #E1E1E1;
}

.footer.container {
	font-size: 0.8rem;
	padding-top: 3vh;
	padding-bottom: 3vh;
	padding-left: 11vw;
	padding-right: 11vw;
}

#footer-table {
	width: 67vw;
	color: #9A9A9A;
}

.left-footer {
	text-align: left;
	margin: 0;
	vertical-align: bottom;
}

.right-footer {
	text-align: right;
	margin: 0;
	vertical-align: bottom;
}

.footer-link {
	color: #5C5C5C;
}

#footer-banner {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #E1E1E1;
	border-radius: 50%;
}