@charset "UTF-8";

#main-footer {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 10px;
	width: 100%;
	background: #FBFCFA;
	border-top: 1px solid #E1E1E1; 
}

.footer.container {
	width: 66%;
	margin:0 auto;
	padding: 0;
}

#footer-table {
	font-size: 0.8rem;
	width: 100%;
	color: #9A9A9A;
}

.left-footer {
	text-align: left;
	margin: 0;
	vertical-align: bottom;
}

.right-footer {
	text-align: right;
	margin: 0;
	vertical-align: bottom;
}

.footer-link {
	color: #5C5C5C;
	cursor: pointer;
}

#footer-banner {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}