@charset "UTF-8";

* {
	box-sizing: border-box;
}

#main-header {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 10px;
	width: 100vw;
	background: #FFFFFF;
	border-bottom: 1px solid #E1E1E1;
}

.header.container {
	padding-top: 3vh;
	padding-bottom: 3vh;
	padding-left: 11vw;
	padding-right: 11vw;
}

.main-menu-bar-item {
	font-style: normal;
	font-weight: 700;
	font-size: 1.0rem;
	line-height: 27px;
	color: #1C1B1F;
}

#search-box {
	width: 13.5vw;
	height: 3.5vh;
	border: 0.25px solid #9A9A9A;
	border-radius: 12px;
	font-size: 0.8rem;
}

#login-link {
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	font-size: 0.8rem;
	line-height: 22px;
	color: #1C1B1F;
}

#tooltip {
	display: none;
	z-index: 1;
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	border-radius: 10px;
	height: 500px;
	width: 400px;
	overflow: auto;
}