@charset "UTF-8";

body {
	width: 100%;
}

/* 메인 페이지 */
/* 메인 배너(carousel) */
.main-body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 10px;
	background: #FFFFFF;
}

#main-banner {
	width: 66%;
	margin: 0 auto;
}

#event-carousel, .carousel-event-image {
	width: 100%;
}

#carousel-prev {
	transform: matrix(-1, 0, 0, 1, 0, 0);
	width: 3.5vw;
}

#carousel-next {
	width: 3.5vw;
}

/* 책 리스트 */
.book-list, .review-list {
	width: 66%;
	margin: 0 auto;
}

.book-list-main-title {
	font-size: 1.2rem;
}

ul.book-list {
	display: inline-table;
	table-layout: fixed;
	padding: 0px;
	width: 100%;
	height: 38vh;
	margin-bottom: 0px;
}

.book-list-content {
	position: relative;
	display: table-cell;
	border: 1vw solid white;
	width: 50%;
}

.book-list-img {
	width: 100%;
	height: 100%;
	background: #D9D9D9;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.book-list-img:hover {
	outline: 3px solid #80C40A;
}

.book-list-empty-img {
	width: 100%;
	height: 100%;
}

.list-empty {
	position: relative;
	display: table-cell;
	border: 1vw solid white;
	width: 50%;
}

.book-list-main-text {
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.book-list-title {
	font-size: 0.9rem;
	width: 82%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.book-list-year {
	font-size: 0.7rem;
	color: #9A9A9A;
	width: 17%;
	text-align: right;
	vertical-align: -webkit-baseline-middle;
}

.book-list-info {
	font-size: 0.7rem;
	color: #9A9A9A;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.book-list-more {
	font-size: 0.9rem;
	color: #9A9A9A;
	text-align: right;
}

/* 이용방법 bar */
#main-manual-bar {
	width: 100%;
	cursor: pointer;
}

/* 독후감 리스트 */
/* 전체적인 건 book-list와 비슷함 */
ul.review-list {
	display: inline-table;
	table-layout: fixed;
	padding: 0px;
	width: 100%;
	height: 20vh;
}

.review-list-content {
	position: relative;
	display: table-cell;
	border: 1vw solid white;
	width: 50%;
}

.review-list-img {
	width: 100%;
	height: 100%;
	background: #D9D9D9;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	padding-top: 70%;
}

.review-list-title {
	font-size: 1.1rem;
}

.review-list-writer, .review-list-desc {
	font-size: 0.7rem;
	color: #9A9A9A;
}

.review-list-pick {
	width: 13%;
	position: absolute;
	top: 0;
	left: 0;
}

/* 문학관
#main-library-list {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 10px;
	background: #FFFFFF;
	margin-left: 17vw;
	overflow-x: hidden;
}

#library-list-background-wrap {
	position: relative;
	width: 26%;
}

#library-list-background {
	width: 100%;
	height: 100%;
	background-color: #80C40A;
	border-radius: 15px;
	padding-top: 18%;
	border-radius: 15px;
}

#library-table {
	width: 160vw;
	margin-bottom: 7%;
}

#library-list-title {
	width: 8%;
	padding-left: 2.5%;
}

.library-list-sub-title {
	font-size: 0.9rem;
	color: white;
	font-weight: 400;
	margin: 0;
}

.library-list-main-title {
	font-size: 1.8rem;
	font-weight: 500;
	color: white;
}

.library-list-desc {
	margin-top: 70%;
	font-size: 1.1rem;
	font-weight: 400;
	color: #DCFF9E;
}

ul.library-list {
	position: relative;
	display: inline-table;
	table-layout: fixed;
	padding: 0px;
	width: 92%;
}

.library-list-content {
	position: relative;
	display: table-cell;
	width: 50%;
	padding-right: 4%;
}

.library-list-box {
	width: 100%;
	height: 100%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	padding-top: 70%;
	border-radius: 15px;
}

.library-list-img {
	float: left;
	width: 30%;
	background-color: #D9D9D9;
	box-sizing: border-box;
}

.library-list-text {
	float: right;
	width: 70%;
	background: #FFFFFF;
	box-sizing: border-box;
}

*/