<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/header.css}" rel="stylesheet" />
<!-- JS -->
<script th:src="@{/js/header.js}" type="module" charset="UTF-8"></script>
<script
	src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
	<header th:fragment="header" id="main-header" class="py-4 mb-4">
		<div class="header container">
			<!-- main icon  -->
			<div id="main-icon-container"
				class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="/"
					class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
					<img th:src="@{/images/icon/mainLogo.png}" width="150" />
				</a>
				<!-- main menu bar -->
				<ul id="main-menu-bar"
					class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li><a id="category-button"
						class="main-menu-bar-item nav-link px-3 link-secondary">카테고리 <img
							id="category-icon" class="pb-1"
							th:src="@{/images/icon/greenDownArrow.png}" width="10" /></a></li>
					<li><a id="brand-button"
						class="main-menu-bar-item nav-link px-3 link-secondary">이웃책장</a></li>
					<li><a id="book-button"
						class="main-menu-bar-item nav-link px-3 link-secondary">책 대여</a></li>
					<li><a id="community-button"
						class="main-menu-bar-item nav-link px-3 link-secondary">소식마당</a></li>
				</ul>
				<!-- main search bar -->
				<form id="main-search-container"
					class="d-flex flex-wrap justify-content-center me-3" method="POST"
					th:action="@{/book/direct/search.do}" name="searchForm"
					accept-charset="utf-8">
					<div id="search-bar-box">
						<input id="search-bar" type="search" name="query" class="ps-3"
							aria-label="Search"> <img id="search-icon"
							th:src="@{/images/icon/searchSmall.png}" class="mx-2" width="15" />
					</div>
				</form>
				<!-- main profile icon and dropdown -->
				<div id="main-profile-container"
					class="d-flex flex-wrap align-items-center justify-content-center">
					<div id="not-login" th:unless="${session.member}">
						<a id="login-link" href="/book/login.do">로그인/회원가입</a>
					</div>
					<div id="now-login" th:if="${session.member}">
						<img id="dm-button" class="ms-2 me-3"
							th:src="@{/images/icon/dmIcon.png}" width="25" height="25" /> <a
							href="/book/mypage.do" aria-expanded="false"><img
							th:src="${session.member.image}" alt="mdo" width="25"
							height="25" class="dropdown rounded-circle"> </a>
					</div>
				</div>
			</div>
		</div>
		<div id="dm-tooltip" role="tooltip">
			<div id="dm-tooltip-content" class="tooltip-content"></div>
		</div>
		<div id="category-tooltip" role="tooltip">
			<div id="category-tooltip-content" class="tooltip-content"></div>
		</div>
		<div id="brand-tooltip" role="tooltip">
			<div id="brand-tooltip-content" class="tooltip-content"></div>
		</div>
		<div id="book-tooltip" role="tooltip">
			<div id="book-tooltip-content" class="tooltip-content"></div>
		</div>
		<div id="community-tooltip" role="tooltip">
			<div id="community-tooltip-content" class="tooltip-content"></div>
		</div>
	</header>
</body>
</html>